.gallery{
  background-color: #FAFAFA;
  padding-top: 60px;
  padding-bottom: 80px;
  @include mq('desktop'){
    padding-top: 120px;
    padding-bottom: 160px;
  }
  &__pictures{
    margin-top: 70px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    @include mq('desktop'){
      margin-top: 30px;
      gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}