.service{
  padding: 30px 0 60px 0;
  border-bottom: 1px solid #BFBFBF;
  @include mq('desktop'){
    padding: 60px 0 100px 0;
  }
  &__title{
    text-align: center;
    padding-top: calc(10px + 34px);
    @include mq('desktop'){
      padding-top: calc(18px + 34px);
    }
    &::before{
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__contents{
    margin-top: 30px;
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:60px 4%;
    justify-content: space-between;
    @include mq('desktop'){
      grid-template-columns: repeat(2, 1fr);
      margin-top: 40px;
    }
  }
}