.fv {
  padding-bottom: 20px;
}
.fv::before {
  width: 30%;
  height: 36vw;
  content: "";
  background-color: #4CB6EA;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .fv::before {
    max-height: 310px;
    width: 280px;
    height: 19.4vw;
  }
}
.fv::after {
  width: 30%;
  height: 30vw;
  content: "";
  background-color: #FFE100;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .fv::after {
    max-height: 200px;
    width: 20%;
    height: 12vw;
  }
}

.fv-message {
  padding-left: max(9vw, 38px);
  left: 0;
  position: absolute;
  top: 100px;
}
@media screen and (min-width: 768px) {
  .fv-message {
    padding-left: min(12.5vw, 200px);
    top: 80px;
  }
}
.fv-message__slogan {
  font-size: 2.8vw;
  font-weight: 600;
}
.fv-message__slogan-en {
  font-size: 3.7vw;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .fv-message__slogan-en {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .fv-message__slogan {
    font-size: 12px;
  }
}
.fv-message h1 {
  margin-top: 0.2em;
  font-weight: 700;
  font-size: 8.8vw;
}
@media screen and (min-width: 768px) {
  .fv-message h1 {
    font-size: min(6vw, 100px);
    margin-top: 0;
  }
}

.titlearea {
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .titlearea {
    padding-top: 40px;
  }
}
.titlearea__breadcrumbs {
  display: flex;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .titlearea__breadcrumbs {
    font-size: 14px;
  }
}
.titlearea__breadcrumbs a {
  margin-right: 4px;
}
@media screen and (min-width: 768px) {
  .titlearea__breadcrumbs a {
    margin-right: 8px;
  }
}
.titlearea__title {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  padding-top: 44px;
  position: relative;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .titlearea__title {
    padding-top: 52px;
    margin-top: 30px;
    font-size: 40px;
  }
}
.titlearea__title .ja {
  font-size: 16px;
  display: block;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .titlearea__title .ja {
    font-size: 18px;
  }
}
.titlearea__title::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 34px;
}
.titlearea__title--blue-green::before {
  content: url("../image/common/section-title-icon--blue-green.webp");
}
.titlearea__title--purple::before {
  content: url("../image/common/section-title-icon--purple.webp");
}
.titlearea__title--green::before {
  content: url("../image/common/section-title-icon--green.webp");
}
.titlearea__title--yellow::before {
  content: url("../image/common/section-title-icon--yellow.webp");
}
.titlearea__title--blue::before {
  content: url("../image/common/section-title-icon--blue.webp");
}
.titlearea__title--orange::before {
  content: url("../image/common/section-title-icon--orange.webp");
}
.titlearea__title--pink::before {
  content: url("../image/common/section-title-icon--pink.webp");
}

.subpage-section-title {
  font-size: 32px;
  position: relative;
  text-align: center;
  padding-top: 48px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .subpage-section-title {
    font-size: 28px;
  }
}
.subpage-section-title::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  position: absolute;
  height: 28px;
}
.subpage-section-title .num {
  font-size: 11px;
  font-weight: 400;
  display: block;
  margin-bottom: 0.8em;
}
.subpage-section-title .sub {
  display: block;
  font-size: 16px;
}
.subpage-section-title--blue-green::before {
  content: url("../image/common/section-title-icon--blue-green.webp");
}
.subpage-section-title--purple::before {
  content: url("../image/common/section-title-icon--purple.webp");
}
.subpage-section-title--green::before {
  content: url("../image/common/section-title-icon--green.webp");
}
.subpage-section-title--yellow::before {
  content: url("../image/common/section-title-icon--yellow.webp");
}
.subpage-section-title--blue::before {
  content: url("../image/common/section-title-icon--blue.webp");
}
.subpage-section-title--pink::before {
  content: url("../image/common/section-title-icon--pink.webp");
}

.staff {
  margin-top: 70px;
}
@media screen and (min-width: 768px) {
  .staff {
    margin-top: 140px;
  }
}

.staff-department {
  padding-bottom: 60px;
  border-bottom: 1px solid #BFBFBF;
}
@media screen and (min-width: 768px) {
  .staff-department {
    padding-bottom: 120px;
  }
}
.staff-department__members {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 3%;
}
@media screen and (min-width: 768px) {
  .staff-department__members {
    margin-top: 40px;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 80px;
  }
}
.staff-department:not(:first-child) {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .staff-department:not(:first-child) {
    margin-top: 120px;
  }
}

.staff-department-member p {
  text-align: center;
}
.staff-department-member__name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0.5em;
}
@media screen and (min-width: 768px) {
  .staff-department-member__name {
    font-size: 24px;
  }
}
.staff-department-member__label {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .staff-department-member__label {
    font-size: 14px;
  }
}
.staff-department-member__imageblock {
  padding: 7px;
  position: relative;
}
.staff-department-member__imageblock::after, .staff-department-member__imageblock::before {
  position: absolute;
  width: 35%;
  height: 28%;
  content: "";
  z-index: -1;
}
.staff-department-member__imageblock::before {
  top: 0;
  left: 0;
}
.staff-department-member__imageblock::after {
  bottom: 0;
  right: 0;
}
.staff-department-member__imageblock img {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  transition: all 0.3s;
}
.staff-department-member:nth-child(5n-4) .staff-department-member__imageblock::before {
  background-color: #2C6EB3;
}
.staff-department-member:nth-child(5n-4) .staff-department-member__imageblock::after {
  background-color: #45B0BA;
}
.staff-department-member:nth-child(5n-3) .staff-department-member__imageblock::before {
  background-color: #A5C742;
}
.staff-department-member:nth-child(5n-3) .staff-department-member__imageblock::after {
  background-color: #F6D452;
}
.staff-department-member:nth-child(5n-2) .staff-department-member__imageblock::before {
  background-color: #DF7E2C;
}
.staff-department-member:nth-child(5n-2) .staff-department-member__imageblock::after {
  background-color: #D85D83;
}
.staff-department-member:nth-child(5n-1) .staff-department-member__imageblock::before {
  background-color: #9A4F94;
}
.staff-department-member:nth-child(5n-1) .staff-department-member__imageblock::after {
  background-color: #2C6EB3;
}
.staff-department-member:nth-child(5n) .staff-department-member__imageblock::before {
  background-color: #45B0BA;
}
.staff-department-member:nth-child(5n) .staff-department-member__imageblock::after {
  background-color: #A5C742;
}
.staff-department-member:hover img {
  transform: scale(1.1);
}

.single {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .single {
    margin-top: 60px;
  }
}
.single__contents {
  margin-top: 50px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .single__contents {
    margin-top: 100px;
    padding-bottom: 120px;
  }
}

.single-fv {
  position: relative;
}
@media screen and (min-width: 768px) {
  .single-fv {
    min-height: 450px;
    padding-bottom: 80px;
  }
}
.single-fv__image {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .single-fv__image {
    width: 53%;
    margin-right: 0;
  }
}
.single-fv__block {
  background-color: #fff;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  margin-top: -40px;
  z-index: 10;
  padding: 6% 5% min(5%, 40px) 5%;
}
@media screen and (min-width: 768px) {
  .single-fv__block {
    margin-top: 0;
    width: 45%;
    position: absolute;
    top: max(5%, 50px);
    left: 10%;
  }
}
.single-fv__label {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .single-fv__label {
    font-size: 16px;
  }
}
.single-fv__name {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .single-fv__name {
    font-size: 36px;
  }
}
.single-fv__sign {
  width: 80%;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .single-fv__sign {
    width: 100%;
  }
}
.single-fv__award {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  max-width: 200px;
  border: 1.5px solid #000000;
  display: block;
  margin-top: 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .single-fv__award {
    max-width: 300px;
    padding: 13px;
    font-size: 16px;
  }
}
.single-fv__award::after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  transform: rotate(135deg);
  right: 5%;
  width: 0.5em;
  height: 0.5em;
}
.single-fv::after {
  content: "";
  width: 60%;
  height: 80%;
  background-color: #F4F4F4;
  bottom: 0;
  left: 0;
  z-index: -10;
  position: absolute;
}
.single-section:not(:first-child) {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .single-section:not(:first-child) {
    margin-top: 60px;
  }
}
.single-section__block {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .single-section__block {
    margin-top: 40px;
  }
}
.single-section__block-flex {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .single-section__block-flex {
    flex-direction: initial;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) {
  .single-section__block-flex img {
    width: 45%;
  }
}
.single-section__block-flex p {
  flex: 1;
}
.single-section__text {
  font-size: 14px;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .single-section__text {
    font-size: 16px;
  }
}

.c-staff-single-section-title {
  background-color: rgba(44, 110, 179, 0.06);
  font-size: 18px;
  font-weight: 700;
  position: relative;
  padding: 20px 20px 20px 40px;
}
@media screen and (min-width: 768px) {
  .c-staff-single-section-title {
    font-size: 26px;
    padding: 20px 20px 20px 60px;
  }
}
.c-staff-single-section-title::before {
  content: url("../image/common/section-title-icon--blue.webp");
  top: 0.7em;
  left: 10px;
  transform: translateY(0%) scale(0.6);
  position: absolute;
}
@media screen and (min-width: 768px) {
  .c-staff-single-section-title::before {
    left: 20px;
    transform: translateY(0%) scale(0.8);
  }
}

.single-award {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .single-award {
    margin-top: 120px;
  }
}
.single-award__title {
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  padding: 20px 0;
  border-bottom: 1px solid #2C6EB3;
}
@media screen and (min-width: 768px) {
  .single-award__title {
    font-size: 26px;
  }
}
.single-award__list {
  margin-top: 10px;
  display: grid;
  gap: 10px 40px;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .single-award__list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }
}
.single-award__list li {
  font-size: 14px;
  position: relative;
  padding: 20px 0 20px 50px;
  border-bottom: 1px solid #E0E0E0;
}
@media screen and (min-width: 768px) {
  .single-award__list li {
    font-size: 16px;
  }
}
.single-award__list li::after {
  content: url("../image/common/icon-award--blue.svg");
  position: absolute;
  left: 10px;
  top: 20px;
}

.gallery {
  background-color: #FAFAFA;
  padding-top: 60px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 120px;
    padding-bottom: 160px;
  }
}
.gallery__pictures {
  margin-top: 70px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 768px) {
  .gallery__pictures {
    margin-top: 30px;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=staff.css.map */