.subpage-section-title{
  font-size: 22px;
  position: relative;
  text-align: center;
  padding-top: 48px;
  font-weight: 700;
  @include mq('desktop'){
    font-size: 28px;
  }
  &::before{
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    position: absolute;
    height: 28px;
  }
  .num{
    font-size: 11px;
    font-weight: 400;
    display: block;
    margin-bottom: .8em;
  }
  .sub{
    display: block;
    font-size: 16px;
  }
  &--blue-green{
    &::before{
      content: url("../image/common/section-title-icon--blue-green.webp");
    }
  }
  &--purple{
    &::before {
      content: url("../image/common/section-title-icon--purple.webp");
    }
  }
  &--green{
    &::before {
      content: url("../image/common/section-title-icon--green.webp");
    }
  }
  &--yellow{
    &::before {
      content: url("../image/common/section-title-icon--yellow.webp");
    }
  }
  &--blue{
    &::before {
      content: url("../image/common/section-title-icon--blue.webp");
    }
  }
  &--pink{
    &::before {
      content: url("../image/common/section-title-icon--pink.webp");
    }
  }
}