.subpage-section-title{
  font-size: 32px;
  position: relative;
  text-align: center;
  padding-top: 48px;
  @include mq('desktop'){
    font-size: 28px;
  }
  &::before{
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    position: absolute;
    height: 28px;
  }
  &--blue-green{
    &::before{
      content: url(../image/common/section-title-icon--blue-green.webp);
    }
  }
}