.tabcontents-pre-textarea{
  margin-top: 20px;
  @include mq('desktop'){
    width: 50%;
    padding-left: 3%;
    margin-top: 0;
  }
  &__title{
    font-weight: 700;
    font-size: 26px;
    @include mq('desktop'){
      font-size: 30px;
    }
  }
  &__text{
    font-size: 14px;
    line-height: 2;
    margin-top: 20px;
    @include mq('desktop'){
      font-size: 16px;
      margin-top: 40px;
    }
  }
}